{% extends "layout.html" %}
{% block body %}

    <form action="{{ url_for('show_entry') }}" method="post" class="show-entry">
      <dl>
        <dt>Name:
        <dd><input type="text" size="30" name="name">
        <dt>Appointment date:
        <dd><input type = "text" size ="30" name="aptdate">
        <dt>Batch Number:
        <dd><input type = "text" size ="30" name="batch">
        <!--<dd><textarea name="aptdate" rows="1" cols="40"></textarea>-->
        <dd><input type="submit" value="Search">
      </dl>
    </form>

  <ul class=entries>
  <li> ID NAME APPOINTMENT DATE BATCH NUMBER 
  {% for apt in apts %}
    <li>{{  apt['id'], apt['name'], apt['aptdate'], apt['batch'] }}
  {% else %}
    <li><em>No results found</em>
  {% endfor %}
  </ul>
{% endblock %}
  