{% extends "layout.html" %}
  <div class="metanav">
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Name:
        <dd><input type="text" size="30" name="name">
        <dt>Appointment date:
        <dd><input type = "text" size ="30" name="aptdate">
        <dt>Batch Number:
        <dd><input type = "text" size ="30" name="batch">
        <!--<dd><textarea name="aptdate" rows="1" cols="40"></textarea>-->
        <dd><input type="submit" value="Save">
        <input type="reset" value = "Clear">
      </dl>
    </form>
    <form action="{{ url_for('delete_entry') }}" method="post" class="add-entry">
      <dl>  
        <dt>ID of appointment to be deleted:
        <dt><input type="text" size ="30" name="deleteid">
        <dd><input type="submit" value="Delete"size ="30" name="delete">
      </dl>
  {% endif %}
  <!--ul class=table-->
  <table>
  
  <tr> 
      <td>ID</td> 
      <td>Name</td> 
      <td>Appointment Date</td> 
      <td>Batch Number</td>
      <td>Change</td>
      
           
  </tr>
  
  {% for apt in apts %}
    <tr>    
        <td>{{  apt['id']  }}</td>
        <td>{{  apt['name']  }}</td>
        <td>{{  apt['aptdate']  }}</td>
        <td>{{  apt['batch']  }}</td>
        <td><input type="reset" value = "Change"></td>
                 
    </tr>    

  {% else %}
    <li><em>Unbelievable.  No appointments here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
  
  